* {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body {
    width: 850px;
    margin: 0 auto;
    padding-bottom: 60px;
}

main {
    min-height: 100%;
    position: absolute;
}

nav {
    background: #ffbf00;
    padding: 10px;
}


footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    background: #ffbf00;
    width: 800px;
}

footer p {
    vertical-align: center;
    padding-left: 10px;
}

.page-top {
    height: 70px;
}


.list {
    width: 450px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
}

.title-cell, .label-cell {
    grid-column-start: 1;
    grid-column-end: 2;
}
.author-cell, .input-cell {
    grid-column-start: 2;
    grid-column-end: 3;
}
.grade-cell {
    grid-column-start: 3;
    grid-column-end: 4;
}
.isRead-cell {
    grid-column-start: 4;
    grid-column-end: 5;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    padding: 10px;
    margin: 0;
}

nav a:hover {
    background: #ff8a00;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.title-link {
    color: blue;
    text-decoration: underline;
}

#message-block {
    margin: 10px 10px 10px 40px;
    padding: 5px;
    background: #ffff00;
}