

<div id="message-block" tpl-if="$messages">
    <li tpl-foreach="$messages as $message">{{ $message }}</li>
</div>
<div id="author-list" class="list">
    <div class="title-cell header-cell">Nimi</div>
    <div class="author-cell header-cell">Perekonnanimi</div>
    <div class="grade-cell header-cell">Hinne</div>

    <tpl tpl-foreach="$authors as $author">
        <div class='flex-break'></div>
        <div class="title-cell"><a class="title-link" href="?cmd=author-form&id={{$author->id}}">{{ $author->firstName }}</a></div>
        <div class="author-cell">{{ $author->lastName }}</div>
        <div class="grade-cell">{{ $author->grade }}</div>
    </tpl>
</div>