

<ul id="error-block" tpl-if="$errors">
    <li tpl-foreach="$errors as $error">{{ $error }}</li>
</ul>

<form name="form" id="input-form" class="list" action="?cmd=update-author" method="post">
    <div class="label-cell"><label for="author-first-name">Autori eesnimi:</label></div>
    <div class="input-cell"><input type="text" id="author-first-name" name="firstName" value="{{ $author->firstName }}"></div>

    <div class="flex-break"></div>
    <div class="label-cell"><label for="author-last-name">Autori perekonnanimi:</label></div>
    <div class="input-cell"><input type="text" id="author-last-name" name="lastName" value="{{ $author->lastName }}"></div>

    <div class="flex-break"></div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <tpl tpl-foreach="range(1, 5) as $grade">
            <label for="grade{{ $grade }}">{{ $grade}}</label>
            <input type="radio"
                   id="grade{{ $grade }}"
                   name="grade"
                   tpl-checked="$grade == $author->grade"
                   value="{{ $grade }}">
        </tpl>
    </div>
    <div class="flex-break"></div>
    <div class="label-cell"></div>
    <div class="input-cell">
        <div class="button-align">
            <input name="submitButton" type="submit" value="Salvesta">
            <input name="deleteButton"
                   tpl-if="$isEditForm"
                   type="submit"
                   value="Kustuta">
        </div>
    </div>
    <input type="hidden" name="id" value="{{ $author->id }}">
</form>
