

<ul id="error-block" tpl-if="$errors">
    <li tpl-foreach="$errors as $error">{{ $error }}</li>
</ul>
<form name="form" id="input-form" class="list" action="?cmd=update-book" method="post">

    <div class="label-cell"><label for="title">Pealkiri:</label></div>
    <div class="input-cell"><input type="text" id="title" name="title" value="{{ $book->title }}"></div>

    <div class="label-cell"><label for="author1">Autor 1</label></div>
    <div class="input-cell">
        <select id="author1" name="author1">

            <option></option>
            <tpl tpl-foreach="$authors as $author">
                <option tpl-selected="$book->authors[0]->id == $author->id" value="{{ $author->id }}">{{ $author->getFullNameString() }}</option>
            </tpl>

        </select>
    </div>

    <div class="flex-break"></div>
    <div class="label-cell"><label for="author2">Autor 2</label></div>
    <div class="input-cell">
        <select id="author2" name="author2">

            <option></option>
            <tpl tpl-foreach="$authors as $author">
                <option tpl-selected="$book->authors[1]->id == $author->id" value="{{ $author->id }}">{{ $author->getFullNameString() }}</option>
            </tpl>

        </select>
    </div>

    <div class="flex-break"></div>
    <div class="label-cell">Hinne:</div>
    <div class="input-cell">
        <tpl tpl-foreach="range(1, 5) as $grade">
            <label for="grade{{ $grade }}">{{ $grade}}</label>
            <input type="radio"
                   id="grade{{ $grade }}"
                   name="grade"
                   tpl-checked="$grade == $book->grade"
                   value="{{ $grade }}">
        </tpl>
    </div>

    <div class="flex-break"></div>
    <div class="label-cell"><label for="read">Loetud:</label></div>

    <div class="input-cell"><input id="read" name="isRead" type="checkbox" tpl-checked="$book->isRead"></div>

    <div class="flex-break"></div>
    <div class="label-cell"></div>
    <div class="input-cell">
        <div class="button-align">
            <input name="submitButton" type="submit" value="Salvesta">
            <input name="deleteButton"
                   tpl-if="$isEditForm"
                   type="submit"
                   value="Kustuta">
        </div>
    </div>
    <input type="hidden" name="id" value="{{ $book->id }}">

</form>
