

<div id="message-block" tpl-if="$messages">
    <li tpl-foreach="$messages as $message">{{ $message }}</li>
</div>
<div id="author-list" class="list">
    <div class="title-cell header-cell">Pealkiri</div>
    <div class="author-cell-cell header-cell">Autorid</div>
    <div class="grade-cell header-cell">Hinne</div>
    <div class="isRead-cell header-cell">Loetud</div>

    <tpl tpl-foreach="$books as $book">
        <div class='flex-break'></div>
        <div class="title-cell"><a class="title-link" href="?cmd=book-form&id={{ $book->id }}">{{ $book->title }}</a></div>
        <div class="author-cell">
            <tpl tpl-if="!empty($book->authors)">{{$book->getAuthorsString()}}</tpl>
        </div>

        <div class="grade-cell-cell">{{ $book->grade }}</div>
        <div class="isRead-cell">
            <tpl tpl-if="$book->isRead">Loetud</tpl>
            <tpl tpl-if="!$book->isRead">Lugemata</tpl>
        </div>
    </tpl>
</div>