<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Raamatuprojekt</title>
</head>
<body>
<nav>
    <a href="?cmd=book-list" id="book-list-link">Raamatud</a>
    <a href="?cmd=book-form" id="book-form-link">Lisa raamat</a>
    <a href="?cmd=author-list" id="author-list-link">Autorid</a>
    <a href="?cmd=author-form" id="author-form-link">Lisa autor</a>
</nav>

<main>
    <tpl tpl-include="{{ $contentPath }}">

    </tpl>
</main>

<footer>
    <p>ICD0007 raamaturakendus</p>
</footer>

</body>
</html>

